.branch-item {

  &__inner {

    &._clickable {
      cursor: pointer;
    }

    border-radius: 5px;
    background-color: orange;
    padding: 15px;
  }

  &__name {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
  }

  &__birth {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
  }

  &__list {
    transform: translateX(20px);
    gap: 10px;
  }

  max-width: 400px;
  list-style: none;
  margin-top: 10px;
}
